$listMinHeight: 70vh;


.flexRowCenter {
    @include flexCenter (flex, row, center, flex-start, 100%, 100%);
}


//dropdown
.dropdown {
    width: 8vw;
    height: 20px;
}

//dropdown




.reviewHead {

    @include spaceMargin(none, none, none, bottom, none, 2%);

    >div {
        @include flexCenter (flex, column, center, center, auto, auto);
        @include heightWidth(2.5vw, 2.5vw);
        @include border (none, none, none, none, 'gray200', 1px, solid, all, 50%);
        @include spaceMargin(none, none, right, none, none, 2%);


        >svg {
            fill: map-get($text-colors, "gray400");
        }
    }

}