$leftMargin: 0%; //due to side bar
$headerHeight: 8vh;
$headerMinHeight: 10vh;
$contentMinHeight: 90vh;

.container-landing {
    @include flexCenter (flex, column, center, flex-start, auto, auto);
    @include spaceMargin(none, none, none, bottom, none, 10%);
    position: relative;
    top: $headerHeight;
    margin-left: $leftMargin;

    >div:nth-child(1) {
        @include flexCenter (flex, column, center, center, 20%, 100%);
        @include border (top, none, none, none, 'gray200', 1px, solid, none, none);
        height: 5vh;
    }

    >div:nth-child(2) {

        @include flexCenter (flex, column, center, center, 100%, 100%);
        min-height: $contentMinHeight;
        @include color ("white", none);

        >div {
            @include flexCenter (flex, row, center, center, 100%, 100%);

            >div {
                @include flexCenter (flex, column, center, center, 100%, 50%);
                @include border (none, none, none, none, 'gray200', 1px, solid, all, none);
                @include spaceMargin(all, none, none, none, none, 2%);

                >div:nth-child(1) {
                    @include flexCenter (flex, row, center, center, 10%, 100%);
                    min-height: 5vh;
                    @include color ("gray100", none);
                }

                >div:nth-child(2) {
                    @include flexCenter (flex, row, center, space-around, 90%, 100%);
                    flex-wrap: wrap;

                    >div {
                        @include spaceMargin(none, top, none, bottom, none, 5%);
                        @include spaceMargin(none, none, right, none, left, 3%);

                        >img {
                            height: 20vh;
                            width: 10vw;
                        }

                        span {
                            width: 10vw;
                            font-size: 10px;
                        }
                    }


                }
            }

        }

    }
}