input[type="text"] {
  height: 35px;
  width: 70vmin;
  padding-left: 5px;
  display: inline-block;
  border: solid 1px #BDBDBD;
  background-color: transparent;
  color: #212121;
  font-size: 23;
}

textarea {
  height: 35px;
  width: 40vmin;
  padding-left: 5px;
  display: inline-block;
  border: solid 1px #BDBDBD;
  background-color: transparent;
  color: #212121;
  font-size: 23;
}

input[type="text"]:hover {
  border: solid 1px #90A4AE;
  background-color: transparent;
}

.div-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.div-pagination > a {
  cursor: pointer;
  border: 1px solid #BDBDBD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 3px;
  padding: 10px;
}

.star {
  background-color: #BDBDBD;
  color: #F5F5F5;
  margin: 2%;
}

.starselected {
  background-color: #FFA726;
  color: #F5F5F5;
}

.star-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
