$inputHeight: 35px;
$inputWidth: 70vmin;
@import './color.scss';
@import './mixin.scss';

input[type="text"] {
    height: $inputHeight;
    width: $inputWidth;
    padding-left: 5px;
    display: inline-block;
    border: solid 1px #BDBDBD;
    background-color: transparent;
    color: #212121;
    font-size: 23;
}

textarea {
    height: $inputHeight;
    width: 40vmin;
    padding-left: 5px;
    display: inline-block;
    border: solid 1px #BDBDBD;
    background-color: transparent;
    color: #212121;
    font-size: 23;
}

input[type="text"]:hover {
    border: solid 1px #90A4AE;
    background-color: transparent;
}

.div-pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;

    >a {
        cursor: pointer;
        border: 1px solid #BDBDBD;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin: 3px;
        padding: 10px;
    }
}


.star {
    @include color ("gray400", 'gray100');
    margin: 2%;
}

.starselected {
    @include color ("orange400", 'gray100');
}

.star-rating {
    display: flex;
}